.parent {
    height:100%;
}
}
.div1 {
    height: 90%;
    background-color: grey;
    padding: 300px;
}
.div2 {
    height: 90%;
    background-color: aqua;
    padding: 300px;
}
.root {
    height:100%;
}
.d-flex {
    display: flex;
}